body{
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}


header{
 font-family: verdana;
 color: white;   
 font-size: 20px;
 font-weight: normal;
 text-align: center;
}


h1 {
    display: end;
    font-size: 50px;
    font-weight: normal;
    
}

a{
    color: aquamarine;
    font-size: 16px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.camp{
    width: 100%; 
}

figcaption{
    color: Gray;
    font-size: 21px;
} 

figcaption{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p{
    text-align: right;
    color: Gray;
    font-size: 21px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

